.amenities_modal {
  border: 1px solid var(--border-color);
  background-color: var(--cream-bg);
}

.top {
  font-size: 28px;
  line-height: 1.2px;
  font-weight: 300;
  padding: 40px;
}

.section {
  position: relative;
  height: 100%;
}

.left {
  display: inline-block;
  width: 50%;
}

.right {
  width: 50%;
  display: inline-block;
  position: relative;
}

.text_wrap {
  padding: 40px;
  height: 100%;
}

.right_side {
  direction: rtl;
}

.right_side .left,
.right_side .right {
  direction: ltr;
}

.abs {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  padding: 40px;
}

.next {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.next_icon {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-color);
  margin-left: 16px;
}

.next_icon:hover {
  background-color: var(--coral-red);
  color: white;
  border: 1px solid var(--coral-red);
}

.icon {
  font-size: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image {
  padding: 40px;
}

.img_wrap {
  position: relative;
}

.sizer {
  padding-top: 100%;
}

.title {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.1;
  padding-bottom: 8px;
}

.text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  padding-top: 24px;
}

.button {
  padding-top: 16px;
}


.btn_padd {
  padding: 12px;
}

.text {
  line-height: 1.5;
}

@media(max-width:1260px) {
  .top {
    padding: 40px 30px;
  }

  .top,
  .title {
    font-size: 24px;
  }

  .image,
  .text_wrap {
    padding: 30px;
  }

  .title {
    padding-bottom: 0px;
  }

  .text p {
    font-size: 14px;
    padding-top: 18px;
  }

  .text p:first-child {
    padding-top: 0px;
  }

  .text {
    height: 300px;
    overflow-y: auto;
    margin-top: 24px;
  }

  .next {
    right: 30px;
    bottom: 30px;
  }
}

@media(max-width:1120px) {
  .text {
    height: 250px;
    overflow-y: auto;
    margin-top: 16px;
  }

  .text p {
    padding-top: 16px;
  }

}

@media(max-width:1024px) {

  .top,
  .title {
    font-size: 20px;
  }

  .text {
    margin-top: 20px;
  }

  .top {
    padding: 30px;
  }

  .next {
    bottom: 30px;
    right: 30px;
  }

  .next_icon {
    width: 30px;
    height: 30px;
  }
}

@media(max-width:940px) {
  .section {
    display: flex;
    flex-direction: column;
  }

  .left {
    position: relative;
  }

  .left,
  .right {
    display: block;
    width: 100%;
  }

  .sizer {
    padding-top: 48%;
  }

  .text {
    height: 200px;
    overflow-y: auto;
  }

  .text p {
    padding-top: 14px;
  }

  .image {
    padding-top: 30px;
  }

  .text_wrap {
    padding-top: 30px;
    padding-bottom: 80px;
  }

  :global .art_club .equal-height-JlocK {
    height: auto !important;
  }

  :global .art_club .section_border_middle {
    display: none;
  }
}

@media(max-width:600px) {
  .sizer {
    padding-top: 60%;
  }

  .top {
    padding-left: 50px;
  }
}

@media(max-width:500px) {
  .sizer {
    padding-top: 75%;
  }

  .image {
    padding: 24px;
  }

  .text_wrap {
    padding: 24px 24px 60px
  }

  .next {
    bottom: 20px;
    right: 24px;
  }

  .next_icon {
    width: 24px;
    height: 24px;
  }

}