.banner {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.border_line {
  position: relative;
  padding-bottom: 160px;
}

.border_line::after {
  content: "";
  height: 200px;
  width: 1px;
  background: var(--banner-line);
  position: absolute;
  left: 50%;
  bottom: 50px;
}

.left_right_banner {
  display: flex;
}

.left {
  width: 33.33%;
}

.right {
  width: 66.67%;
  position: relative;
}

.greenBg {
  background: #004605;
  color: var(--text-white);
}

.blueBg {
  background: #13234a;
  color: var(--text-white);
}

.content_wrapper {
  padding: 80px 40px 0px;
}

.banner_btn {
  padding-top: 40px;
}

.btn_padd {
  color: var(--text-white);
  border: 1px solid var(--text-white);
  padding: 14px 24px;
}

.title {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
}

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  padding-top: 16px;
}
