.text_image {
  position: relative;
}

.left {
  display: inline-block;
  width: 33.33%;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.right {
  position: relative;
  width: 66.66%;
  display: inline-block;
  vertical-align: middle;
}

.greenBg {
  background: #004605;
  color: var(--text-white);
}

.abs {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  padding: 40px;
}

.left_side {
  direction: rtl;
}

.left_side .left,
.left_side .right {
  direction: ltr;
}

.img_wrap {
  position: relative;
}

.img {
  padding: 40px 40px 0px;
}

.sizer {
  padding-top: 57%;
}

.title {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.2;
}

.text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  padding-top: 24px;
}

.white_btn {
  border: 1px solid var(--cream-bg);
  color: var(--text-white);
}

.button {
  padding-top: 40px;
}

.btn_padd {
  padding: 12px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 40px 50px;
}

.caption {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

.icons {
  display: flex;
  margin: 0 -8px;
}

.icon {
  width: 8px;
  height: 8px;
  background-color: #a2a2a2;
  border-radius: 9px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 0 8px;
}

.icon.active {
  background-color: #000;
}
