.lazyLoad {
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.8s cubic-bezier(.6,0,.3,1), transform 0.8s cubic-bezier(.6,0,.3,1);
}
.enter {
    opacity: 1;
    transform: translateY(0px);
}