.newsletter {
    border-bottom: 1px solid var(--border-color);
    background-color: #FFFBF5;
    position: relative;
    overflow: hidden;
}

.newsletter::after {
    content: "";
    width: 1px;
    height: 2000px;
    background: var(--border-color);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.newsletterDialog {
    background-color: var(--cream-bg);
}

.left {
    display: inline-block;
    width: 50%;
    padding: 80px 40px;
}

.right {
    display: inline-block;
    width: 50%;
    padding: 80px 40px 40px;
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    padding-top: 16px;
    max-width: 520px;
}

.text span {
    font-family: "Gelasio";
    font-style: italic;
    font-size: 18px;
    font-weight: 350;
    line-height: 1.6;
}

.form {
    padding-top: 15px;
    max-width: 580px;
}

.form_title {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
}

.form_wrap {
    margin-left: -8px;
    margin-right: -8px;
}

.form_block {
    display: inline-block;
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}

.sizer {
    padding-top: 66%;
}

.item_bg {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.item_img {
    transition: all .4s ease;
}

.item:hover .item_img {
    transform: scale(1.05);
}