.top {
  padding: 24px 40px;
}

.title {
  font-weight: 300;
  font-size: 28px;
  line-height: 1.2;
}

.address {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  padding-top: 8px;
}

.sizer {
  padding-top: 43.6%;
}

.map {
  position: relative;
  height: calc(60vh - 4px);
  margin: auto;
  width: calc(100% - 4px);
}

.mapPad {
  padding: 1.5px 1px;
}


@media(max-width:1200px) {
  .map {
    height: 50vh;
  }
}

@media(max-width:1024px) {
  .title {
    font-size: 24px;
  }

  .top {
    padding: 24px 30px;
  }
}

@media(max-width:740px) {
  .sizer {
    padding-top: 80%;
  }
}

@media(max-width:550px) {
  .map {
    height: 420px;
  }

  .top {
    padding: 24px;
  }

  .title {
    font-size: 20px;
  }
}