.greenBg {
  background: #004605;
  color: var(--text-white);
}

.lightBlueBg {
  background: #dce1d9;
  color: var(--default-text);
}

.redBg {
  background: #c9343a;
  color: var(--text-white);
}

.block_Center {
  min-height: 324px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  max-width: 500px;
  margin: auto;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  font-style: normal;
}

.text span {
  font-family: "Gelasio";
  font-style: italic;
  font-size: 23px;
  line-height: 1.2;
}

@media (max-width: 900px) {
  .block_Center {
    min-height: 300px;
    padding: 30px;
  }

  .text,
  .text span {
    font-size: 21px;
  }

}

@media (max-width: 600px) {
  .block_Center {
    min-height: 350px;
  }
}

@media (max-width: 420px) {
  .block_Center {
    min-height: 300px;
    padding: 30px;
  }

  .text,
  .text span {
    font-size: 19px;
  }

}