body .noPad {
  padding: 0;
}

.notFound {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  max-width: 750px;
}

.no_match_btn {
  margin-top: 40px;
}

.notFound h1 {
  font-size: 80px;
  line-height: 1;
}

.notFound h2 {
  font-size: 40px;
  line-height: 1;
  padding-top: 40px;
}

.notFound p {
  font-size: 20px;
  padding-top: 40px;
}

No .notFound a {
  margin-top: 40px;
}

.outer,
.content {
  position: relative;
  height: 100%;
}

@media(max-width:1260px) {
  .no_match_btn {
    margin-top: 40px;
  }

  .notFound h1 {
    font-size: 60px;
  }

  .notFound h2 {
    font-size: 32px;
    padding-top: 30px;
  }

  .notFound p {
    font-size: 16px;
    padding-top: 32px;
  }

  .notFound a {
    margin-top: 32px;
  }
}

@media(max-width:1024px) {
  .notFound h1 {
    font-size: 50px;
  }

  .notFound h2 {
    font-size: 28px;
    padding-top: 24px;
  }

  .notFound p {
    font-size: 16px;
    padding-top: 24px;
  }

  .notFound a {
    margin-top: 24px;
  }
}

@media(max-width:940px) {
  .outer {
    min-height: 70vh !important;
  }
}

@media(max-width:740px) {
  .notFound {
    width: 100%;
    padding: 0 40px;
  }

  .notFound h1 {
    font-size: 40px;
  }

  .notFound h2 {
    font-size: 24px;
    padding-top: 20px;
  }

  .notFound p {
    font-size: 14px;
    padding-top: 20px;
  }

  .notFound a {
    margin-top: 20px;
  }

  .outer {
    min-height: 60vh !important;
  }
}

@media(max-width:420px) {
  .notFound {
    width: 100%;
    padding: 0 30px;
  }

  .notFound h1 {
    font-size: 24px;
  }

  .notFound h2 {
    font-size: 18px;
    padding-top: 12px;
  }

  .notFound p {
    font-size: 14px;
    padding-top: 12px;
  }

  .notFound a {
    margin-top: 12px;
  }
}