.text_wrap {
  position: relative;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  min-height: 350px;
}

.title {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.2;
}

.item_inner_wrap {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 40px;
  transform: translateY(-50%);
}

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.66;
  padding-top: 16px;
}

.button {
  padding-top: 16px;
}

.item_btn {
  padding: 12px 16px;
}
