.button {
    display: inline-block;
    padding: 12px 60px;
    background-color: transparent;
    text-align: center;
    color: var(--default-text);
    border: 1px solid black;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.8px;
}

.button:hover,
.banner_btn:hover,
.white_btn:hover {
    background: var(--button-bg);
    color: var(--text-white);
    border: 1px solid var(--button-bg);
}

.transparent{
    background-color: transparent;
    color: var(--text-white);
    border: 1px solid var(--cream-bg);
    padding: 12px;
}

.block_btn {
    padding: 11px 14px;
}

.block_btn:hover {
    background-color: var(--coral-red);
    color: var(--primary-white);
    border: 1px solid var(--coral-red);
}

.download_icon{
    padding-right: 8px;
}

.blue_button,
.header_blue_btn,
.banner_btn,
.form_button {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    padding: 14px 24px;
    color: var(--text-white);
    border: 1px solid var(--button-bg);
    background-color: var(--button-bg);
}

.blue_button:hover {
    border: 1px solid var(--border-color);
    background: transparent;
    color: var(--black-color);
}

.header_blue_btn:hover,
.form_button:hover {
    border: 1px solid var(--common-blue);
    background: transparent;
    color: var(--common-blue);

}

.banner_btn,
.white_btn {
    padding: 14px 24px;
    background-color: transparent;
    color: var(--text-white);
    border: 1px solid var(--text-white);
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.8px;
}

.white_btn {
    background-color: var(--text-white);
    color: var(--default-text);
    border: 1px solid var(--border-color);
}

.white_btn:hover {
    border: 1px solid var(--cream-bg);
    background: var(--button-bg);
    color: var(--text-white);
}

.header_blue_btn {
    padding: 8px 40px;
}

.form_button {
    width: 100%;
    margin-top: 24px;
}

.rectButton {
    padding: 10px 45px 10px 20px;
    font-size: 14px;
    border: 1.5px solid var(--common-button-color);
    min-width: 190px;
    display: inline-block;
    position: relative;
    text-align: left;
    color: var(--common-button-color);
}

.rectButton .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    transition: filter 0.4s;
}

.button.active,
.rectButton.active,
.rectButton:hover {
    background-color: var(--common-button-color);
    color: var(--common-button-hover-color);
}

.button.active:hover,
.rectButton.active:hover {
    background-color: transparent;
    color: var(--common-button-color);
}

.rectButton.active:hover .icon {
    -webkit-filter: none;
    filter: none;
}

.rectButton:hover .icon,
.rectButton.active .icon {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}


.icon {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 50%;
    right: 10px;
}

.fetching {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.fetching+span {
    opacity: 0;
    visibility: hidden;
}

.buttonDisabled {
    pointer-events: none;
    opacity: 0.4;
}

.buttonDisabled span {
    opacity: 0.4;
}

.formGroup {
    position: relative;
    padding-top: 25px;
}

.hasError .textbox {
    border-color: var(--has-error);
}

.textbox {
    border: 1.5px solid var(--border-color);
    padding: 14px 16px;
    font-size: 14px;
    width: 100%;
    font-weight: 400;
    line-height: 1.2;
    color: var(--primary-blue);
    background: var(--layout-bg);
}

.textbox::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--primary-blue);
}

.textbox::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--primary-blue);
}

.textbox:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--primary-blue);
}

.textbox:-moz-placeholder {
    /* Firefox 18- */
    color: var(--primary-blue);
}

.helpBlock {
    font-size: 12px;
    margin-top: 5px;
    color: var(--has-error);
}

.controlLabel {
    padding-bottom: 5px;
}

.inputIcon {
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}

.inputWrap {
    position: relative;
}

.floatingDateRange {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--default-bg);
    padding: 80px 20px 20px 20px;
    z-index: 8;
    max-width: 500px;
}

.dateRangeInput {
    z-index: 9;
}

.dateRageClear {
    position: absolute;
    left: 20px;
    top: 23px;
}

.dateRageDone {
    position: absolute;
    right: 20px;
    top: 23px;
}

.field {
    position: relative;
}

.multipleDropdown {
    z-index: 5;
}

.multipleDropdown .textbox {
    padding: 10px 30px 10px 10px;
}

.placeholder {
    color: var(--text-box-placeholder);
}

.ddoptionsOpen {
    z-index: 11;
}

.ddoptions {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 10;
    background: var(--default-bg);
    border: 1.5px solid var(--text-box-placeholder);
    display: none;
    box-shadow: var(--box-shadow);
    margin-top: 5px;
}

.ddoptionsList {
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    min-width: 100%;
    max-width: 100%;
}

.ddoptionsOpen .ddoptions,
.selectedOption {
    display: block;
}

.ddoption {
    padding: 8px 12px;
    position: relative;
}

.ddoption input {
    display: none;
}

.selectedOption {
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ddoptionLabel {
    padding-left: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    transition: color 0.4s;
}

.ddoption i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.inputCheckbox {
    padding: 10px 5px;
}

.checkboxInput {
    display: none;
}

.inputCheckboxLabel {
    position: relative;
    padding-left: 25px;
    display: block;
}

.checkboxSquare {
    position: absolute;
    top: 0px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--text-box-placeholder);
    transition: border-color 0.4s;
}

.checkboxCenter {
    opacity: 0;
    transition: opacity 0.4s;
    color: var(--light-blue-text);
    font-size: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}

input[type="checkbox"]:checked+.inputCheckboxLabel .checkboxCenter {
    opacity: 1;
}

input[type="checkbox"]:checked+.inputCheckboxLabel .checkboxSquare {
    border-color: var(--common-button-color);
}

.checkboxLabel {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.selectAll {
    color: var(--default-text);
    display: inline-block;
    font-weight: normal;
    font-size: 11px;
    margin-left: 5px;
    padding: 0 5px;
    letter-spacing: 0.05em;
}

.dropdownArrow {
    color: var(--light-blue-text);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 1;
}

.selectBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
    padding: 10px 15px;
}

.dropdownIcon {
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 16px;
    font-weight: 300;
    transform: translateY(-50%);
    color: var(--border-color);
}

.dropdown .textbox {
    position: relative;
}

.uploadArea {
    margin-top: 60px;
    max-width: 785px;
    border: 1.5px dashed var(--text-box-placeholder);
    padding: 60px;
}

.uploadArea img {
    height: 65px;
    width: auto;
}

.uploadArea h1 {
    font-size: 33px;
    padding-top: 30px;
}

.uploadArea h5 {
    font-size: 13px;
    padding-top: 15px;
}

.uploadArea .uploadButtonOuter {
    padding-top: 15px;
}

.uploadArea .button {
    min-width: 0;
}

.uploadArea .errors {
    color: var(--has-error);
}

.uploadArea .errors>li {
    padding-top: 15px;
}

.uploadArea .innerErrors>li {
    padding-top: 5px;
    font-weight: bold;
}

.fileInput {
    display: none;
}