.form{
    padding-top: 15px;
    max-width: 600px;
}

.form_title {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
}

.form_wrap {
    margin-left: -8px;
    margin-right: -8px;
}

.form_block {
    display: inline-block;
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}

.text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    max-width: 400px;
    padding-top: 16px;
}

.text span {
    font-family: "Gelasio";
    font-style: italic;
    font-size: 18px;
    font-weight: 350;
    line-height: 1.6;
}