.modal,
.dialogBoxOverlayWrap,
.dialogBoxOverlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  z-index: 9999;
}

.dialogBoxOverlayWrap.dialogOpen {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s ease-in;
}

.dialogBoxOverlayWrap.dialogRemove {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.dialogBoxOverlayWrap {
  transition: opacity 0.6s ease-in;
  opacity: 0;
  position: absolute;
}

.dialogBoxOverlay {
  position: absolute;
  overflow: auto;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.514);
}

.dialogClose,
.extraClass {
  display: flex;
  align-items: center;
  position: absolute;
  right: 40px;
  top: 0px;
  padding: 24px;
  padding-right: 0px;
  background-color: transparent;
  z-index: 2;
}

.extraClass {
  left: 40px;
  top: 32px;
  padding: 0;
}

.newsletterDialog {
  background-color: var(--cream-bg);
}

.closeIcon {
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

.x_icon {
  width: 24px;
  height: 24px;
  font-weight: 400;
  margin-left: 8px;
}

.closeText {
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  position: relative;
  line-height: 1.5;
  padding-left: 14px;
}

.dialogClose:hover,
.extraClass:hover {
  color: var(--coral-red-hover);
}

.dialogContent {
  position: fixed;
  width: calc(100% - 120px);
  top: 50%;
  left: 50%;
  max-width: 1608px;
  transform: translate(-50%, 0);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  transition-delay: 0.2s;
}

.dialogOpen .dialogContent {
  transform: translateY(-50%) translate(-50%);
  visibility: visible;
  opacity: 1;
}

.header_dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--layout-bg);
  transform: translateX(100%);
  top: 0;
  max-width: 1608px;
  visibility: hidden;
  opacity: 0;
}

.dialogOpen .header_dialog {
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
  transition-delay: 0.2s;
}


:global(.enquireForm) {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  transform: translate(100%, 0) !important;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.4s ease-in;
  transition-delay: 0.6s;
  background-color: #fffbf5;
  height: 100%;
  max-width: 500px;
  margin: 0;
}

.dialogOpen :global(.enquireForm) {
  transition: transform 0.8s ease-in;
  transform: translate(0) !important;
  visibility: visible;
  opacity: 1;
  overflow: auto;
}

:global(.enquire) {
  padding: 40px;
  padding-right: 72px;
  margin-top: 88px;
  border-top: 1px solid black;
}

@media (max-width: 550px) {
  .closeText {
    display: none;
  }

  .dialogClose {
    right: 0;
    top: 0;
  }

  .col {
    display: block;
    width: auto;
  }


  .extraClass {
    left: 30px;
    top: 18px;
  }

  :global(.find_more) .dialogClose {
    left: 24px;
    padding: 24px 0px;
  }

  :global(.mobileFilter) .closeText {
    display: block;
  }

  :global(.newsletter_dialog) .dialogContent {
    width: calc(100% - 100px);
  }

  :global(.mobile_menu) .dialogContent {
    width: 100%;
  }

  :global(.enquire) {
    margin-top: 52px;
  }

  :global(.enquireForm) {
    height: 100%;
    max-width: 300px;
  }

  :global(.newsletter_dialog) .dialogClose {
    padding: 12px 0px;
  }

  :global(.newsletter_dialog) .closeText {
    display: block;
  }

  :global(.find_more) .dialogContent {
    width: calc(100% - 80px);
  }
}


@media(max-width:1260px) {
  :global(.newsletter_dialog) .dialogClose {
    padding: 16px;
    right: 30px;
  }

  :global(.newsletter_dialog) .closeText {
    font-size: 14px;
  }

  :global(.find_more) .dialogClose {
    right: 30px;
  }

}

@media(max-width: 1200px) {
  :global(.enquire) {
    padding: 40px;
    padding-right: 40px;
    margin-top: 72px;
  }

  :global(.enquireForm) {
    height: 100%;
    max-width: 500px;
    overflow: auto;
  }
}

@media (max-width: 1024px) {
  .extraClass {
    top: 24px;
    padding: 0;
  }
}

@media(max-width:940px) {
  :global(.find_more) .dialogContent {
    width: calc(100% - 220px);
  }
}

@media(max-width:740px) {
  :global(.find_more) .dialogContent {
    width: calc(100% - 180px);
  }
}

@media (max-width: 820px) {
  .extraClass {
    left: 30px;
    top: 20px;
  }

  :global(.enquire) {
    padding: 30px;
    padding-right: 30px;
    margin-top: 64px;
  }

  :global(.enquireForm) {
    height: 100%;
    max-width: 400px;
  }

  :global(.find_more) .closeIcon {
    font: 12px;
  }

  :global(.find_more) .closeText {
    font-size: 14px;
    padding-left: 10px;
  }

  :global(.mobileFilter) .dialogContent {
    background-color: #EEE7DB;
    height: 100%;
    width: 100%;
    margin-top: 85px;
  }

  :global(.mobileFilter) .dialogClose {
    padding: 30px;
    right: 30px;
    padding-right: 0px;
  }

  :global(.mobileFilter) .closeIcon {
    display: none;
  }
}

@media(max-width:600px) {

  :global(.newsletter_dialog) .dialogClose {
    padding: 12px 0px;
  }

  :global(.find_more) .dialogContent {
    width: calc(100% - 120px);
  }

  :global(.find_more) .dialogClose {
    right: 24px;
  }
}

@media (max-width: 500px) {
  :global(.enquireForm) {
    min-width: 100%;
  }

}

@media (max-width: 420px) {
  .extraClass {
    left: 30px;
    top: 16px;
  }

  :global(.newsletter_dialog) .dialogContent {
    width: calc(100% - 60px);
  }


  :global(.enquire) {
    margin-top: 46px;
  }

  :global(.find_more) .dialogContent {
    width: calc(100% - 60px);
  }
}