.bsz,
.bgImage,
.bsz img,
.spinner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.bgImage {
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 0.4s 0.2s;
}

.bgImage.loading,
.bsz img {
  opacity: 0;
}

.fa {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 32px;
  transform: translate(-50%, -50%);
}

.sizer {
  padding-top: 50%;
}