.text_image {
    position: relative;
}

.left {
    display: inline-block;
    width: 33.33%;
    padding: 0 40px;
    vertical-align: middle;
}

.right {
    padding: 40px;
    width: 66.66%;
    display: inline-block;
    vertical-align: middle;
}

.left_side {
    direction: rtl;
}

.left_side .left,
.left_side .right {
    direction: ltr;
}

.img_wrap {
    position: relative;
}

.sizer {
    padding-top: 49%;
}

.sub_title {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.2;
    padding-top: 16px;
}

.text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    padding-top: 24px;
}

.button {
    padding-top: 40px;
}
